{% extends 'base.html.twig' %}

{% block title %}Hello CommentController!{% endblock %}

{% block content %}
    <div class="m-5">
        {% for comment in comments %}
            <div class="my-3">
                <a href="{{ path('app_comment_show', {id : comment.id}) }}">{{ comment.comment }} || {{ comment.user.email }}</a><br>
            </div>
        {% endfor %}
    </div>
{% endblock %}
